<!-- about.html -->
    <div class="jumbotron col-md-10 col-md-offset-1">
        <h1>
          I am a software developer focused primarily on web development (specifically full stack) with some experience in
          mobile development as well. Currently I am residing in Toronto Ontario Canada, but I hope to travel around and
          look for new experiences.
          <br>
          <br>
          I started programing when I was 13 years old. It mainly stemmed from a passion for video games which turned into a passion to make video game which eventually led me into building software development.
          <br>
          <br>
          I just recently graduated from the University of Toronto in 2015 with a Bachelor of Applied Science in Engineering Science (with primary focus on Electrical and Computer Engineering). 
          <br>
          <br>
          I love new and innovative technology and no matter where the future take me I always want to be involved in this field. 
          <br>
          <br>
          Apart from work I regularly follow TechChunch and Hackernews as well as being big on fitness and my personal health and I'm also really into the competitive gaming scene (especially Dota 2) my steam id is ihatedota1212 feel free to add me.
          <br>
          <br>
          In the future I want to continue to learn and develop my skills both technical and non-technical and hope to continue working on fun and exciting projects that will hopefully change the world.
        </h1>
	    <br>
      	<br>
        <a href="mailto:davidyin1212@gmail.com?Subject=www.david-yin.com"><img src="/assets/email5.png"></a>
        <a href="https://github.com/davidyin1212"><img src="/assets/github10.png"></a>
        <a href="https://ca.linkedin.com/pub/david-yin/59/a3/6b9"><img src="/assets/linkedin1.png"></a>
        <a href="https://www.facebook.com/david.yin.37"><img src="/assets/facebook3.png"></a>

    </div>