<!-- about.html -->
    <div class="jumbotron col-md-10 col-md-offset-1">
        <h1>
          Lorem ipsum dolor sit amet, et usu democritum rationibus, has melius aliquando definitiones eu, in ius nemore albucius suscipit. Paulo verear mea at, et ferri copiosae erroribus mei. In hinc lobortis his, elit electram mea eu. Partiendo omittantur sit et. In mea brute ullum molestie, facilis percipitur dissentiet mei in.

          Meis laudem mel no, nam id sonet voluptua, saepe oratio percipitur sit in. Et suas repudiandae mel. At tacimates maluisset per, quo affert consequat adversarium ad. Ea labores deseruisse nam, pro et posse dicam gubergren. Has rebum ludus at. Ei nam soleat omittam euripidis, ad pro definiebas disputando.

          Ne deleniti abhorreant per, in quo munere dolorem platonem, ea eam labores explicari. Elitr graeco incorrupte eu vis, tibique eleifend cu sit. Eu mei odio bonorum pertinax. Ut elitr quando vis. Explicari delicatissimi qui id, eu omnes suavitate interesset ius.

          Has cu accusam dissentiet, ne malis appareat adipiscing eum. Mel te congue corrumpit, vix diam hinc ut. Ei his animal commodo, ut admodum vulputate expetendis eos. Erat dicta nec ex, eam veniam volutpat repudiare in.

          Mel cu fugit ridens scribentur. Has dolorem alienum convenire eu, his ei apeirian salutandi abhorreant, no erant ponderum sadipscing cum. Mei fabellas explicari disputando in, an dolore viderer dolores sed. Id per duis appareat. Libris necessitatibus usu ex, dictas eruditi dissentias mea ex, vix denique quaerendum eu. Sed voluptua verterem et, eu nam numquam volumus pericula.
        </h1>

        <a href="mailto:davidyin1212@gmail.com?Subject=www.david-yin.com"><img src="/assets/email5.png"></a>
        <a href="https://github.com/davidyin1212"><img src="/assets/github10.png"></a>
        <a href="https://ca.linkedin.com/pub/david-yin/59/a3/6b9"><img src="/assets/linkedin1.png"></a>
        <a href="https://www.facebook.com/david.yin.37"><img src="/assets/facebook3.png"></a>

    </div>