<!-- expirence.html -->
<style>
.project-carousel{
  min-height: 100vh;
}

.project-carousel img{
  min-height: 100vh;
}

#main{
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.indicators{
  position: fixed;
  margin-top: 80vh;
  z-index: 10;
}

.project-carousel h1 {
  position: fixed;
  margin-top: 30vh;
  padding-left: 20px;
  text-align: left;
  color: black;
}
.project-carousel p {
  position: fixed;
  margin-top: 40vh;
  padding-left: 20px;
  text-align: left;
  color: black;
}
.rn-carousel-control {
  font-size: 6rem;
}
.highlight {
  background-color: #000;
  font-weight: bold;
  color: #eaeff4;
  padding: 0 10px 0;
}
.darken {
  display: inline-block;
  background: black;
  padding: 0;
}

.darken img {
  display: block;

  -webkit-transition: all 0.6s linear;
     -moz-transition: all 0.6s linear;
      -ms-transition: all 0.6s linear;
       -o-transition: all 0.6s linear;
          transition: all 0.6s linear;
}

.darken:hover img {
  opacity: 0.7;

}
.darken .details {
  display: hidden;
}

.darken:hover .details {
  display: block;
}
</style>
<div class="jumbotron text-center col-md-10 col-md-offset-1">
  <div ng-controller="ExpirenceController" class="project-carousel">
    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls rn-carousel-transition class="projects">
      <div rn-carousel-indicators ng-if="projects.length > 1" slides="projects" rn-carousel-index="carouselIndex" class="indicators col-md-12 col-xs-12 col-sm-12"></div>
      <li ng-repeat="project in projects">
        <a ng-href="{{project.url}}">
          <div>
            <h1 class="col-md-2 col-md-offset-1"><span class="highlight">{{ project.name }}</span></h1>
            <p class="col-md-2 col-md-offset-1"><span class="highlight">{{ project.date }}</span></p>
            <!-- <div class="darken">
              <img ng-src="{{ project.front_cover }}">
              <div class="details">
                <h4>Technologies: </h4>
                <ul>
                  <li ng-repeat="tech in project.technologies">{{tech}}</li>
                </ul>
              </div>
            </div> -->
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>