<!-- expirenceDetail.html -->
<style>
.detail-masthead img{
  width: 100%;
}
// Animations
@-webkit-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@-moz-keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes scroll-ani {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

// Mouse & Message Styles

// The Scroll Link
.mouse-scroll {
  display: inline-block;
  line-height: 18px;
  font-size: 13px;
  font-weight: normal;
  color: black;
  color: black;
  font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  margin-top: 10%;
  text-decoration: none;
  overflow: hidden;
  
  // The Mouse
  .mouse {
    position: relative;
    display: block;
    width: 46px;
    height: 73px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid black;
    border-radius: 23px;
    
    // Scroll Indicator
    .mouse-movement { 
      position: absolute;
      display: block;
      top: 29%;
      left: 50%;
      width: 8px;
      height: 8px;
      margin: -4px 0 0 -4px;
      background: black;
      border-radius: 50%;
      -webkit-animation: scroll-ani 4s linear infinite;
      -moz-animation: scroll-ani 4s linear infinite;
      animation: scroll-ani 4s linear infinite;
    }
    
  }
    
  // The Scroll Message
  .mouse-message { 
      float: left;
      margin: -200px 0 0 7px;
      padding: 0;
      -webkit-animation: scroll-ani 4s linear infinite;
    -moz-animation: scroll-ani 4s linear infinite;
    animation: scroll-ani 4s linear infinite;
  }
  
  // shown on Hover of The Mouse
  &:hover {
    .mouse-message {
      margin-top: 0;    
    } 
  }
  
}
</style>

<div class="jumbotron" ng-controller="ExpirenceController">
  <a class="mouse-scroll" href="#description"> 
    <span class="mouse">
      <span class="mouse-movement"> 
      </span>
    </span>
    <span class="mouse-message fadeIn">scroll</span> 
  </a>

  <div class="detail-masthead">
    <img ng-repeat="img in projects[selected].imgs" ng-src="{{img}}">
  </div>

  <div id="description" class="jumbotron col-md-10 col-md-offset-1">
    <h2>
      <a ng-if="projects[selected].link != undefined" ng-href="{{projects[selected].link.url}}">{{projects[selected].link.name}}</a>
    </h2>
    <h2 ng-if="projects[selected].github != undefined">
      Github: <a ng-href="{{projects[selected].github}}"><img src="/assets/github10.png"></a>
    </h2>
  	<span ng-repeat="line in (projects[selected].description | newlines) track by $index">
	    <h2> {{line}}</h2>
	    <br>
	  </span>
  </div>
</div>
