<!-- expirence.html -->
<style>
.project-carousel{
  min-height: 100vh;
}

.project-carousel img{
  min-height: 100vh;
}

#main{
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.indicators{
  position: fixed;
  margin-top: 80vh;
  z-index: 10;
}

.project-carousel h1 {
  position: fixed;
  margin-top: 30vh;
  color: black;
}
.project-carousel p {
  position: fixed;
  margin-top: 40vh;
  color: black;
}
</style>
<div class="jumbotron text-center col-md-10 col-md-offset-1">
  <div ng-controller="ExpirenceController" class="project-carousel">
    <ul rn-carousel rn-carousel-index="carouselIndex" rn-carousel-controls rn-carousel-transition class="projects">
      <div rn-carousel-indicators ng-if="projects.length > 1" slides="projects" rn-carousel-index="carouselIndex" class="indicators col-md-12 col-xs-12 col-sm-12"></div>
      <li ng-repeat="project in projects">
        <a ng-href="{{project.url}}">
          <div>
            <h1 class="col-md-6">{{ project.name }}</h1>
            <p class="col-md-6">{{ project.date }}</p>
            <img ng-src="{{ project.imgs[0] }}">
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>