<!-- expirenceDetail.html -->
<style>
.detail-masthead img{
  width: 100%;
}
</style>

<div class="jumbotron" ng-controller="ExpirenceController">
  <div ng-repeat="item in projects[selected].items">
    <div ng-if="item.type == 'img'" class="detail-masthead"  >
      <img ng-src="{{item.src}}">
    </div>

    <div ng-if="item.type == 'text'" class="jumbotron col-md-10 col-md-offset-1">
    	<span>
  	    <h2> {{stringBuilder(item.src.text) | newlines}}</h2>
  	    <br>
  	</span>
    </div>
  </div>
</div>
