<!-- home.html -->
    <style>
    .container{
      background: url(https://upload.wikimedia.org/wikipedia/en/f/fd/Dundas_Square_Toronto_at_night.jpg);
      background-size: cover;
      width: 100%;
      min-height: 90vh;
      margin-top: 10vh;

      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
    }
    .context{
      position: fixed;
      left: 0;
      right: 0;
      z-index: 9999;
      margin-left: 20px;
      margin-right: 20px;
    }
    </style>
    <div class="container"></div>
    <div class="context col-md-4">
      <h2>Hello</h2>
      <p>My name is David Yin I am a full-time Fullstack Developer, part-time Hacker, and occasionally I'll do other things as well</p>
      <a href="#expirence">View My Work</a>
    </div>