<!-- skills.html -->
<style>
.panel-title{
  text-align: left;
}
</style>
<div class="jumbotron text-center subview col-md-10 col-md-offset-1">
  <div ng-controller="SkillsController">
    <accordion close-others="false">
      <!-- first layer -->
      <accordion-group ng-repeat="skill in skills">
        <accordion-heading>
          {{skill.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4"> <progressbar value="55">{{skill.years}} years</progressbar></i>
        </accordion-heading>

        <!-- second layer -->
        <accordion close-others="true">
          <accordion-group ng-if="skill2.skills.length > 0" ng-repeat="skill2 in skill.skills">
            <accordion-heading>
              {{skill2.title}} length: {{skill2.skills.length}} <i class="pull-right col-md-8 col-sm-6 col-xs-4"> <progressbar value="55">{{skill2.years}} years</progressbar></i>
            </accordion-heading>

            <!-- third layer -->
            <accordion close-others="true">
              <accordion-group ng-if="skill3.skills.length > 0" ng-repeat="skill3 in skill2.skills">
                <accordion-heading>
                  {{skill3.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4"> <progressbar value="55"></progressbar></i>
                </accordion-heading>
              </accordion-group>
              <div class = "panel-title" ng-if="skill3.skills.length == 0" ng-repeat="skill3 in skill2.skills">{{skill3.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4"> <progressbar value="55">{{skill3.years}} years</progressbar></i></div>
            </accordion>
          </accordion-group>
          <div class = "panel-title" ng-if="skill2.skills.length == 0" ng-repeat="skill2 in skill.skills" >{{skill2.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4"> <progressbar value="55">{{skill2.years}} years</progressbar></i></div>
        </accordion>
      </accordion-group>

      <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
        <accordion close-others="true">
          <accordion-group heading="{{group.content}}"></accordion-group>
        </accordion>
      </accordion-group>
      <accordion-group heading="Dynamic Body Content">
        <p>The body of the accordion group grows to fit the contents</p>
          <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
          <div ng-repeat="item in items">{{item}}</div>
      </accordion-group>
      <accordion-group is-open="status.open">
          <accordion-heading>
              I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </accordion-heading>
          This is just some content to illustrate fancy headings.
      </accordion-group>
    </accordion>
  </div>
</div>