<!-- skills.html -->
<style>
.panel-title{
  text-align: left;
  font-size: x-large;
}
.non-clickable-panel{
  padding-top: 10px;
  padding-bottom: 10px;
}
.custom .panel-heading {
  color: white;
  background-color: #009688;
  border-color: #009688;
  padding: 25px;
  border-radius: 0px;
}
.panel-body {
  background-color: #B2DFDB;
  padding: 25px;
}
.progress.custom-progress{
  background-color: #B2DFDB;
}
.custom .progress-bar{
  background-color: #004D40;
}
.custom .panel-body .progress {
  background-color: #009688;
}
</style>
<div class="jumbotron text-center subview col-md-10 col-md-offset-1">
  <div ng-controller="SkillsController">
    <div class="custom">
      <accordion close-others="false">
        <!-- first layer -->
        <accordion-group ng-repeat="skill in skills">
          <accordion-heading>
            {{skill.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4" ng-if="skill.years > 0"> <progressbar class="custom-progress" value="getProgressLength(skill.years)"><ng-pluralize count="skill.years"
            when="{'0.5': '{{skill.years}} year',
                   '1': '{{skill.years}} year',
                   'other': ' {{skill.years}} years'}"></progressbar></i>
          </accordion-heading>

          <!-- second layer -->
          <accordion close-others="true">
            <accordion-group ng-if="skill2.skills.length > 0" ng-repeat="skill2 in skill.skills">
              <accordion-heading>
                {{skill2.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4" ng-if="skill2.years > 0"> <progressbar class="custom-progress" value="getProgressLength(skill2.years)"><ng-pluralize count="skill2.years"
                  when="{'0.5': '{{skill2.years}} year',
                         '1': '{{skill2.years}} year',
                         'other': ' {{skill2.years}} years'}"></progressbar></i>
              </accordion-heading>

              <!-- third layer -->
              <accordion close-others="true">
                <accordion-group ng-if="skill3.skills.length > 0" ng-repeat="skill3 in skill2.skills">
                  <accordion-heading>
                    {{skill3.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4" ng-if="skill3.years > 0"> <progressbar class="custom-progress" value="getProgressLength(skill3.years)"><ng-pluralize count="skill3.years"
                          when="{'0.5': '{{skill3.years}} year',
                                 '1': '{{skill3.years}} year',
                                 'other': ' {{skill3.years}} years'}"></progressbar></i>
                  </accordion-heading>
                </accordion-group>
                <div class = "panel-title non-clickable-panel" ng-if="skill3.skills.length == 0" ng-repeat="skill3 in skill2.skills">{{skill3.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4" ng-if="skill3.years > 0"> <progressbar class="custom-progress"  value="getProgressLength(skill3.years)"><ng-pluralize count="skill3.years"
                  when="{'0.5': '{{skill3.years}} year',
                         '1': '{{skill3.years}} year',
                         'other': ' {{skill3.years}} years'}"></progressbar></i></div>
              </accordion>
            </accordion-group>
            <div class = "panel-title non-clickable-panel" ng-if="skill2.skills.length == 0" ng-repeat="skill2 in skill.skills" >{{skill2.title}} <i class="pull-right col-md-8 col-sm-6 col-xs-4" ng-if="skill2.years > 0"> <progressbar class="custom-progress" value="getProgressLength(skill2.years)"><ng-pluralize count="skill2.years"
              when="{'0.5': '{{skill2.years}} year',
                     '1': '{{skill2.years}} year',
                     'other': ' {{skill2.years}} years'}"></progressbar></i></div>
          </accordion>
        </accordion-group>
      </accordion>
    </div>
  </div>
</div>