<!-- skills.html -->
<style>
.panel-title{
  text-align: left;
}
</style>
<div class="jumbotron text-center subview col-md-10 col-md-offset-1">
  <div ng-controller="SkillsController">
    <accordion close-others="false">
      <accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
        <accordion-heading>
          This content is straight in the template. <i class="pull-right"> <progressbar class="pull-right" value="55"></progressbar> </i>
        </accordion-heading>
      </accordion-group>
      <accordion-group heading="{{group.title}}" ng-repeat="group in groups">
        {{group.content}}
      </accordion-group>
      <accordion-group heading="Dynamic Body Content">
        <p>The body of the accordion group grows to fit the contents</p>
          <button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
          <div ng-repeat="item in items">{{item}}</div>
      </accordion-group>
      <accordion-group is-open="status.open">
          <accordion-heading>
              I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          </accordion-heading>
          This is just some content to illustrate fancy headings.
      </accordion-group>
    </accordion>
  </div>
</div>